<% provide :title, t("static_pages.about.title") %>
<h1><%= t "static_pages.about.about" %></h1>
<p>
  <%= raw t("static_pages.about.about_content",
    rails_tut_link: link_to(t("static_pages.about.ror_tut"),
    "http://www.railstutorial.org/"),
    rails_book_link: link_to(t("static_pages.about.book"),
    "http://www.railstutorial.org/book"),
    screen_cast_rails: link_to(t("static_pages.about.screen_cast"),
    "http://screencasts.railstutorial.org/"),
    ror_link: link_to(t("static_pages.about.ror_tut"),
    "http://rubyonrails.org/")) %>
</p>
