<% provide :title, t("static_pages.help.title") %>
<h1><%= t "static_pages.help.help" %></h1>
<p>
  <%= raw t("static_pages.help.help_content",
    help_section_link: link_to((t "static_pages.help.help_section"),
    "http://www.railstutorial.org/help"),
    rails_book_link: link_to((t "static_pages.help.rails_book"),
    "http://www.railstutorial.org/book")) %>
</p>
